<!DOCTYPE html>
<html lang="en">

	<head>

		<title>Juego Mágico de Química</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style type="text/css">

			html, body {
    			height: 100%;
    			margin: 0;
    			padding: 0
    		}

    		.container {
    			height: 100%;
    			width: 100%;
    			padding: 2%;
    			background-color: #1E1F3D;
  		  	}

  		  	.btn-link {
  		  		color: #6fd7e4;
  		  		font-size: 20px;
  		  	}

  		  	span {
  		  		font-size: 15px;
  		  	}

  		  	footer {
			    position: fixed;
			    height: 100px;
			    bottom: 0;
			    width: 100%;
			}

			.btn-block {
    			width: 40%;
    		}

    		.btn-primary {
    			background-color: #6fd7e4;
    			border-color: #1e1f3d;
    			border-radius: 30px;
    			color: #1e1f3d;
    			font-size: 1.2em;
    		}

		</style>

	</head>

	<body>
		{% load staticfiles %}
		<div class="container">

			<div class="row">

				<!- Cuadros que mostraran la informacion de los elementos. ->

				<!- HIDROGENO ->

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<div class="card">

						<img class="card-img-top img-thumbnail center-block" src="{% static "alchemy/Hidrogeno.jpg" %}" alt="H" height="100" width="200">

						<div class="card-body">

							<a href="#info_h" class="btn btn-link btn-lg center-block" data-toggle="modal">Hidrógeno <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

							<div class="modal fade" id="info_h">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Hidrógeno</h4>
										</div>

										<div class="modal-body">
											<p>AQUÍ VA LA INFORMACIÓN.</p>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<!- OXIGENO ->

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<div class="card">

						<img class="card-img-top img-thumbnail center-block" src="{% static "alchemy/Oxigeno.jpg" %}" alt="O" height="100" width="200">

						<div class="card-body">

							<a href="#info_o" class="btn btn-link btn-lg center-block" data-toggle="modal">Oxigeno <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

							<div class="modal fade" id="info_o">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Oxigeno</h4>
										</div>

										<div class="modal-body">
											<p>AQUÍ VA LA INFORMACIÓN.</p>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>

				</div>




				<!- SODIO ->

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<div class="card">

						<img class="card-img-top img-thumbnail center-block" src="{% static "alchemy/Sodio.jpg" %}" alt="C" height="100" width="200">

						<div class="card-body">

							<a href="#info_c" class="btn btn-link btn-lg center-block" data-toggle="modal">Sodio <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

							<div class="modal fade" id="info_c">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Carbono</h4>
										</div>

										<div class="modal-body">
											<p>AQUÍ VA LA INFORMACIÓN.</p>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<!- NITROGENO ->

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<div class="card">

						<img class="card-img-top img-thumbnail center-block" src="{% static "alchemy/Nitrogeno.jpg" %}" alt="C" height="100" width="200">

						<div class="card-body">

							<a href="#info_c" class="btn btn-link btn-lg center-block" data-toggle="modal">Nitrogeno <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

							<div class="modal fade" id="info_c">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Carbono</h4>
										</div>

										<div class="modal-body">
											<p>AQUÍ VA LA INFORMACIÓN.</p>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<!- CLORO ->

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<div class="card">

						<img class="card-img-top img-thumbnail center-block" src="{% static "alchemy/Cloro.jpg" %}" alt="C" height="100" width="200">

						<div class="card-body">

							<a href="#info_c" class="btn btn-link btn-lg center-block" data-toggle="modal">Cloro <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

							<div class="modal fade" id="info_c">
								<div class="modal-dialog">
									<div class="modal-content">

										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											<h4 class="modal-title">Carbono</h4>
										</div>

										<div class="modal-body">
											<p>AQUÍ VA LA INFORMACIÓN.</p>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<!- BOTON PARA IR AL LABORATORIO ->

				<footer class="fixed-botom">
					<form action='../mezclar'>
					<button type="submit" class="btn btn-primary btn-block center-block">Ir al laboratorio</button>
					</form>
				</footer>

			</div>

		</div>

	</body>

</html>
